


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

{

    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;

}

body {
    font-family: 'poppins', sans-serif;

    background-color: #367040;

}

header {
    background-image: url(images/logo cabana.jpg);
    background-position: :left; left: ;
    background-repeat: no repeat;
    background-size: cover;

}


.container
{ max: widht 1200px;
    margin: 0 auto;


}


.menu {position: absolute;
    top: 10px;
    left:0;
    right:0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 500;

    .logo {
        width: 10px;

    }

}
.menu.navbar ul {
    list-style: none;

}


.menu.navbar ul il {
    position: relative;
    float: center;

}

.menu.navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color:aliceblue;
    display: block;
    text-transform: uppercase;
}

.menu.navbar ul li a:hover {
    color: #E70B25;

}

#menu {
    display:none;

}

.menu.icono {
    width: 20px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display:flex;
    align-items: center;
    padding: 200px 0 150px;

}

.header-txt {

    width: 40%;
    padding-right: 25px;


}


.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 800;
    color:antiquewhite;
    margin-bottom: 25px;

    
}



    .header-txt p {
        font-size: 18px;
        color:aliceblue;

    }

.JACUZZI {
    height:100%;
    widht: 100%;

}